.card {
  & .primary-chip {
    background-color: var(--mat-sys-primary-fixed);
    color: var(--mat-sys-on-primary-fixed);
    border: 1px solid var(--mat-sys-primary);
  }

  & .error-chip {
    background-color: var(--mat-sys-error-container);
    color: var(--mat-sys-on-error-container);
    border: 1px solid var(--mat-sys-error);
  }

  .table-container {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    margin-bottom: 1rem;

    &::-webkit-scrollbar {
      height: 8px;
    }

    &::-webkit-scrollbar-track {
      background: #f1f1f1;
      border-radius: 4px;
    }

    &::-webkit-scrollbar-thumb {
      background: var(--mat-sys-outline);
      border-radius: 4px;
    }
  }

  .responsive-table {
    min-width: 600px;
    width: 100%;

    table-layout: fixed;

    th,
    td {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      padding: 12px 8px;
    }
  }
}

.empty-state {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filters {
  .filter-row {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr auto;
    align-items: end;
    margin-bottom: 24px;

    @media (max-width: 600px) {
      grid-template-columns: 1fr;
      gap: 12px;
    }
  }
}
