<h2>Fondos disponibles</h2>
<mat-card>
  <table mat-table [dataSource]="funds()">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let fund">{{ fund.id }}</td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Nombre</th>
      <td mat-cell *matCellDef="let fund">{{ fund.name }}</td>
    </ng-container>

    <ng-container matColumnDef="minimumAmount">
      <th mat-header-cell *matHeaderCellDef>Monto mínimo</th>
      <td mat-cell *matCellDef="let fund">
        {{ fund.minimumAmount | currency: 'COP' : 'symbol' : '1.0-0' : 'es-CO' }}
      </td>
    </ng-container>

    <ng-container matColumnDef="category">
      <th mat-header-cell *matHeaderCellDef>Categoría</th>
      <td mat-cell *matCellDef="let fund">{{ fund.category }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Acción</th>
      <td mat-cell *matCellDef="let fund">
        @if (fund.isSubscribed) {
          <button mat-raised-button (click)="confirmCancel(fund)">Cancelar</button>
        } @else {
          <button mat-raised-button matButton="filled" (click)="openInvestmentModal(fund)">
            Suscribirse
          </button>
        }
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</mat-card>
