<div class="deposit-modal">
  <h2 mat-dialog-title>Depositar dinero</h2>

  <mat-dialog-content class="content">
    <mat-card class="fund-header">
      <mat-card-header>
        <mat-card-subtitle
          >Saldo actual:
          {{ currentBalance | currency: 'COP' : 'symbol' : '1.0-0' : 'es-CO' }}</mat-card-subtitle
        >
        <mat-card-subtitle
          >Monto minimo:
          {{
            data.minimumDeposit | currency: 'COP' : 'symbol' : '1.0-0' : 'es-CO'
          }}</mat-card-subtitle
        >
      </mat-card-header>
    </mat-card>
    <form [formGroup]="form" class="deposit-form">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Monto a depositar</mat-label>
        <input matInput type="text" formControlName="amount" appCurrency/>

        @if (form.get('amount')?.hasError('required')) {
          <mat-error> El monto es requerido </mat-error>
        }
        @if (form.get('amount')?.hasError('min')) {
          <mat-error>
            El monto mínimo es {{ data.minimumDeposit | currency: 'COP' : 'symbol' : '1.0-0' }}
          </mat-error>
        }
      </mat-form-field>
    </form>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancelar</button>
    <button mat-raised-button matButton="filled" [disabled]="form.invalid" (click)="deposit()">
      Depositar
    </button>
  </mat-dialog-actions>
</div>
